html, body, main{ height:100%; }

body{
	background-color:#f0f0f0;
}

header{
	background: #33363c;
	color: #fdfdfd;
	box-shadow: 0 5px 10px 0px #888888;
	position:relative;
}

*[data-cloak]{
	display:none;
}

.complete *[data-cloak]{
	display:block;
}

.body{
	margin:60px 0;
}

.loading .panel-body *{
	visibility:hidden;
}

.loading .panel-body{
	background:url(../images/loading.gif) no-repeat center center;
}

/* @Modules */
.element{
	border-radius: 50%;
	text-align:center;
	margin-bottom: -75px;
	margin-top: 55px;
}

.components .p-element{
	background-color :rgb( 79, 190, 83 );
}

.modules .p-element{
	background-color:rgb(244, 17, 60);
}

	.element p{
		margin:0;
	}

	.p-element{
		position: relative;
		width: 180px;
		height: 180px;
		border-radius: 50%;
		vertical-align: middle;
		display: inline-block;
		font-family: Arial;
		font-size:18px;
		color: #fff;
		padding: 10px 0 0;
		box-shadow: 0 2px 5px 0px #888888;
		text-shadow: 0 1px 2px #000;
	}

	.element .p-number{
		position: absolute;
		top: 20px;
		right: 40px;
		font-size: 15px;
	}

	.element .p-title{
		font-size: 45px;
		margin-bottom:0;
		margin:10px 0 -10px;
	}

	.element .p-description{
		width: 60%;
		margin: 0 auto;
		border-top: 1px solid white;
		font-size: 11px;
	}

/** @Search **/
.search{
	width: 600px;
	padding: 20px 0 40px;
	margin: 80px auto 0;
}

.search .input-group-addon{
	text-transform:capitalize;
	color:#fff;
}

.search input{
	color:#fff;
}

/** @Navbar **/
.nav{
	float:right;
	padding:20px 0;
}

.nav a{
	padding:20px 0;
	color:#fff;
	font-size:15px;
	text-transform:lowercase;
	line-height:14px;
	margin-right:20px;
}

.nav img{
	width:15px;
	height:15px;
	display:inline-block;
	vertical-align: middle;
	margin-top:-4px;
	margin-right:5px;
}

.description{
	padding-top:25px;
}

.data p{
	margin:0 0 0px;
}

.panel-body{
	margin-bottom:20px;
}

.litemodal .m-body{
	background-color:#fff;
	height:80%;
	width:60%;
	overflow:hidden;
}

.m-body iframe{
	width:100%;
	height:100%;
	border:none;
}
